body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar-fixed {
    position: absolute;
    top: 0;
}

.brand-logo {
    margin-left: 12px;
}

.banner {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: 0 40%;
    background-image: url('../images/banner1.jpg'), linear-gradient(45deg, #14f7ff86, #ff47c8cc, #ffec45e3);
    background-image: url('../images/banner1.jpg'), -webkit-linear-gradient(45deg, #14f7ff86, #ff47c8cc, #ffec45e3);
    background-image: url('../images/banner1.jpg'), -moz-linear-gradient(45deg, #14f7ff86, #ff47c8cc, #ffec45e3);
    background-image: url('../images/banner1.jpg'), -o-linear-gradient(45deg, #14f7ff86, #ff47c8cc, #ffec45e3);
    background-blend-mode: screen;
}

.card-grid {
    position: absolute;
    top: 12%;
    left: 5%;
    right: 5%;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "dp dp dp dp abt abt abt abt abt abt . . . ."
    "dp dp dp dp abt abt abt abt abt abt . . . ."
    "dp dp dp dp abt abt abt abt abt abt . . . ."
    "dp dp dp dp abt abt abt abt abt abt . . . ."
    "dp dp dp dp fb   l   g   t          qb qb qb qb qb qb"
    "cntct cntct cntct cntct eb eb eb eb qb qb qb qb qb qb"
    "cntct cntct cntct cntct eb eb eb eb qb qb qb qb qb qb"
    "cntct cntct cntct cntct eb eb eb eb qb qb qb qb qb qb";
}

.card {
    margin: 0px;
    padding: 1em;
}

dp {
    grid-area: dp;
}

about {
    grid-area: abt;
}

facebook {
    grid-area: fb;
}

twitter {
    grid-area: t;
}

linkedin {
    grid-area: l;
}

github {
    grid-area: g;
}

quotebox {
    grid-area: qb;
}

contact {
    grid-area: cntct;
}

footer {
    grid-area: foot;
}

emptybox {
    grid-area: eb;
}

.half-padding {
    padding: 0.5em;
}

.flex {
    display: flex;
}

.about-text {
    font-size: 1em;
    align-self: center;
}

.align-self {
    text-align: center;
    align-self: center;
}

.contact {
    font-size: 1.2vw;
}

.no-padding {
    padding: 0;
}

.display-picture {
    background-image: url('../images/display-picture.jpg');
    background-size: cover;
    background-position: top right;
    /* min-height: 180px;
    min-width: 180px; */
    width: 100%;
    height: 100%;
}

.footer {
    position: relative;
    /* mix-blend-mode: lighten; */
    display: block;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

/* Icons */

.fab {
    font-size: 3em;
    /* color: royalblue; */
}

/* Colors */

.translucent-1 {
    background-color: rgba(255, 255, 255, 0.80);
}

.translucent-2 {
    background-color: rgba(255, 255, 255, 0.60);
}

.translucent-3 {
    background-color: rgba(255, 255, 255, 0.50);
}

.translucent-4 {
    background-color: rgba(255, 255, 255, 0.40);
}

.mix-blend {
    mix-blend-mode: multiply;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "dp dp dp dp abt abt abt abt"
        "dp dp dp dp abt abt abt abt"
        "dp dp dp dp abt abt abt abt"
        "dp dp dp dp abt abt abt abt"
        "fb l g t cntct cntct cntct cntct"
        ". . . . cntct cntct cntct cntct"
        "eb eb eb eb eb eb eb eb eb eb"
        "qb qb qb qb qb qb qb qb qb qb"
        "qb qb qb qb qb qb qb qb qb qb";
    }
    .display-picture {
        min-height: 100px;
        min-width: 100px;
    }    
    .contact {
        font-size: 2.2vw;
    }
}

@media only screen and (max-width: 700px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "dp dp dp dp fb"
        "dp dp dp dp l"
        "dp dp dp dp g"
        "dp dp dp dp t"
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "eb eb eb eb eb"
        "qb qb qb qb qb"
        "qb qb qb qb qb";
    }
    nav .brand-logo {
        font-size: 20px;
        margin: 0;
    }
    /* .display-picture {
        min-height: 240px;
        min-width: 240px;
    } */

    .fab {
        font-size: 2.2em;
        /* color: royalblue; */
    }

    .social-link {
        padding: 12px;
    }

    .contact {
        font-size: 4vw;
    }
    
    .footer {
        position: relative;
    }

    
    
}

@media only screen and (max-width: 375px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "dp dp dp dp fb"
        "dp dp dp dp l"
        "dp dp dp dp g"
        "dp dp dp dp t"
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "eb eb eb eb eb"
        "qb qb qb qb qb"
        "qb qb qb qb qb";
    }

    .fab {
        font-size: 2.0em;
        /* color: royalblue; */
    }
    .social-link {
        padding: 10px;
    }

    .contact {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 320px) {

    .card-grid {
        top: 14%;
        left: 8%;
        right: 8%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "abt abt abt abt abt"
        "dp dp dp dp fb"
        "dp dp dp dp l"
        "dp dp dp dp g"
        "dp dp dp dp t"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "cntct cntct cntct cntct cntct"
        "eb eb eb eb eb"
        "qb qb qb qb qb"
        "qb qb qb qb qb";
    }

    /* .display-picture {
        min-height: 240px;
        min-width: 240px;
    } */

    .fab {
        font-size: 1.8em;
        /* color: royalblue; */
    }
    .social-link {
        padding: 10px;
    }

    .contact {
        font-size: 4vw;
    }

}

